<%- include("partials/header.ejs") %>

  <% if (locals.data) { %>
    <header>
      <form action="/today" method="post">
        <input type="text" name="loc" id="location">
        <input type="submit" value="submit">
      </form>
    </header>

    <%- include("partials/nav.ejs") %>
    
    <main>
      <h1>
        <%= data.location.name %>, <%= data.location.region %>
      </h1>
      <div>

        <% for (i = 0; i < forecastday.length; i++) { %>
        
        <div>
          <div>
            <h2>Monday</h2>
            <h2>September 22</h2>
          </div>
          <div>
            <p><%= Math.round(forecastday[i].day.maxtemp_f) %> / <%= Math.round(forecastday[i].day.mintemp_f) %></p>
            <img src="<%= forecastday[i].day.condition.icon %>" alt="<%= forecastday[i].day.condition.text %> icon">
            <p><%= forecastday[i].day.condition.text %></p>
            <p><%= forecastday[i].day.daily_chance_of_rain %>%</p>
            <button>V</button>
            <div>
              <div>

              </div>
              <div>
                <p>Humidity</p>
                <p><%= forecastday[i].day.avghumidity %>%</p>
              </div>
              <div>
                <p>Wind</p>
                <p><%= Math.round(forecastday[i].day.maxwind_mph) %> mph</p>
              </div>
              <div>
                <p>UV Index</p>
                <p><%= forecastday[i].day.uv %></p>
              </div>
            </div>
          </div>
        </div>

        <% } %>

      </div>
    </main>
  <% } %>

<%- include("partials/footer.ejs") %>