<%- include("partials/header.ejs") %>

  <% if (locals.data) { %>
    <header>
      <div class="search-div">
        <form action="/forecast" method="post">
          <input type="text" name="loc" id="location" placeholder="Search">
          <input type="submit" value="submit" id="loc-submit">
        </form>
      </div>
    </header>

    <%- include("partials/nav.ejs") %>
    
    <main class="hour-main">
      <div class="loc-header hourly-header">
        <h1>
          <%= data.location.name %>, <%= data.location.region %>
        </h1>
      </div>
      <div>

        <% for (i = 0; i < forecastday.length; i++) { %>
        
        <div class="forecast-box">
          <div class="forecast-day">
            <%
              let newDate = new Date(forecastday[i].date_epoch * 1000.05);
              const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
              const monthsOfYear = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            %>
            <h3><%= daysOfWeek[newDate.getDay()] %>,</h3>
            <h3><%= monthsOfYear[newDate.getMonth()] %> <%= newDate.getDate() %></h3>
          </div>
          <div class="fore-info">
            <p><%= Math.round(forecastday[i].day.maxtemp_f) %> &#x2022; <%= Math.round(forecastday[i].day.mintemp_f) %></p>
            <img src="<%= forecastday[i].day.condition.icon %>" alt="<%= forecastday[i].day.condition.text %> icon" class="hour-icon">
            <p><%= forecastday[i].day.condition.text %></p>
            <p><%= forecastday[i].day.daily_chance_of_rain %>%</p>
            <button class="forey down-btn" value="<%= forecastday[i].date_epoch %>"></button>
          </div>
          <div class="invisibox" id="<%= forecastday[i].date_epoch %>">
            <div>
              <p><i>Humidity</i></p>
              <p><%= forecastday[i].day.avghumidity %>%</p>
            </div>
            <div>
              <p><i>Wind</i></p>
              <p><%= Math.round(forecastday[i].day.maxwind_mph) %> mph</p>
            </div>
            <div>
              <p><i>UV Index</i></p>
              <p><%= forecastday[i].day.uv %></p>
            </div>
          </div>
        </div>

        <% } %>

      </div>
    </main>
  <% } %>

<%- include("partials/footer.ejs") %>