<%- include("partials/header.ejs") %>

  <% if (locals.data) { %>
    <header>
      <form action="/today" method="post">
        <input type="text" name="loc" id="location">
        <input type="submit" value="submit">
      </form>
    </header>
    <nav>
      <div class="id-container">
        <form action="/today" method="post">
          <button type="submit" value="<%= data.location.name %>" name="submit">Today</button>
        </form>
        <form action="/hourly" method="post">
          <button type="submit" value="<%= data.location.name %>" name="submit">Hourly</button>
        </form>
        <form action="/forecast" method="post">
          <button type="submit" value="<%= data.location.name %>" name="submit">3 Day Forecast</button>
        </form>
      </div>
    </nav>
    <main>
      <h1>
        <%= data.location.name %>, <%= data.location.region %>
      </h1>
      <div>

        <% for (i = 0; i < forecastday.length; i++) { %>
        
        <div>
          <div>
            <h2>Monday</h2>
            <h2>September 22</h2>
          </div>
          <div>
            <% for (j = 0; j < forecastday[i].hour.length; j++) { %>
              <% if (forecastday[i].hour[j].time_epoch > nower) { %>
              <div>
                <p><%= forecastday[i].hour[j].time_epoch %></p>
                <p><%= forecastday[i].hour[j].temp_f %></p>
                <img src="<%= forecastday[i].hour[j].condition.icon %>" alt="">
                <p><%= forecastday[i].hour[j].condition.text %></p>
                <p><%= forecastday[i].hour[j].chance_of_rain %>%</p>
                <p></p>
              </div>
              <% } %>

            <% } %>
          </div>
        </div>

        <% } %>

      </div>
    </main>
  <% } %>

<%- include("partials/footer.ejs") %>